.background {
  fill: #eee;
  pointer-events: all;
}

.map-layer {
  fill: #fff;
  stroke: #aaa;
}

text{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

text.big-text{
  font-size: 30px;
  font-weight: 400;
}

.prompt_point_show{
  fill: white;
  opacity: 50%;
  stroke-width:2px;
  stroke: lightblue
}

.start_zone, .end_zone{
  stroke: #ef8a62;
  stroke-width: 4px;
  fill: orange;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}


.grid-background {
  fill: #eee;
}

.grid line,
.grid path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#brush-0 .selection {
  stroke: #000;
  fill: red;
}
#brush-1 .selection {
  stroke: #000;
  fill: blue;
}

.tip {
  font-size: 5px;
}